NMMP.Triangulation/bin/Debug/KE.json
NMMP.Triangulation/bin/Debug/Me.json
NMMP.Triangulation/bin/Debug/Qe.json
NMMP.Triangulation/bin/Debug/ReLeft.json
NMMP.Triangulation/bin/Debug/ReRight.json
packages/MathNet.Numerics.3.14.0-beta01/MathNet.Numerics.3.14.0-beta01.nupkg
packages/MathNet.Numerics.3.14.0-beta01/lib/net35/MathNet.Numerics.xml
packages/MathNet.Numerics.3.14.0-beta01/lib/net40/MathNet.Numerics.xml
packages/MathNet.Numerics.3.14.0-beta01/lib/portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.14.0-beta01/lib/portable-net45+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.14.0-beta01/lib/portable-net45+netcore45+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.14.0-beta01/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.14.0-beta01/lib/portable-net45+sl5+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
packages/MathNet.Numerics.3.14.0-beta01/license.txt
packages/MathNet.Numerics.3.14.0-beta01/readme.txt
packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/tools/install.ps1
packages/Triangle.0.0.6-Beta3/Triangle.0.0.6-Beta3.nupkg
packages/UnityEngine.1.0.0/UnityEngine.1.0.0.nupkg
NMMP.Triangulation/bin/
